@model IEnumerable<MvcProyectoVinilos.Models.Comentario>

@{
    ViewData["Title"] = "List";
    var userRolClaim = User.FindFirst("id");
    var userId = userRolClaim?.Value;
}

<style>
    body {
        font-family: 'Segoe UI', Arial, sans-serif;
        background-image: url('https://i.ibb.co/2S6m6ST/v463-aum-81-abstractbackground.jpg'); /* Ruta de la imagen de fondo */
        background-size: cover; /* La imagen de fondo se ajustará al tamaño del div */
        background-position: center;
    }

    h1 {
        color: #333; /* Texto del título en negro */
        text-align: center;
        margin: 20px 0;
    }

    .table-container {
        width: 80%;
        margin: 60px auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    .table {
        width: 100%;
        margin-top: 20px;
        border-collapse: collapse;
    }

        .table th, .table td {
            padding: 12px;
            border: 1px solid #dee2e6;
            text-align: left;
        }

        .table th {
            background-color: #ffcc4e; /* Encabezados en color especificado */
            color: black; /* Texto del encabezado en negro */
        }

        .table td {
            color: black; /* Texto de los datos en negro */
        }

        .table tr:nth-child(odd) {
            background-color: #f8f9fa;
        }

        .table td a {
            color: #007bff;
            text-decoration: none;
        }

            .table td a:hover {
                text-decoration: underline;
            }

    .boton {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        box-shadow: 0 3px #0056b3;
    }

        .boton:hover {
            background-color: #0056b3;
        }

    .boton, .table td a {
        margin-top: 20px; /* Asegura espacio adicional */
        text-align: center; /* Centra el botón 'Volver' */
    }

    .link-back {
        display: inline-block;
        background-color: #ffcc4e; /* Usa el mismo color para el enlace de 'Volver' */
        color: black; /* Asegura contraste con el color de fondo */
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 4px;
        margin-top: 20px; /* Margen superior para separarlo de la tabla */
        transition: background-color 0.2s ease-in-out;
    }

        .link-back:hover {
            background-color: #e6b800; /* Oscurece ligeramente el botón al pasar el mouse */
            color:black;
        }
</style>


<div class="table-container">
    <h1 style="color:#ffcc4e; font-weight:bold;padding-bottom:20px">Comentarios</h1>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().IdComentario)</th>
                <th>@Html.DisplayNameFor(model => model.First().NombreUusario)</th>
                <th>@Html.DisplayNameFor(model => model.First().IdUsuario)</th>
                <th>@Html.DisplayNameFor(model => model.First().Coment)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.IdComentario)</td>
                    <td>@Html.DisplayFor(modelItem => item.NombreUusario)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdUsuario)</td>
                    <td>@Html.DisplayFor(modelItem => item.Coment)</td>
                    <td>
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.IdComentario }, new { @class = "link-delete" })
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div style="text-align:center;">
        <a href="@Url.Action("Perfil", "Account", new { id = userId })" class="link-back">Volver</a>
    </div>
</div>
