@model ProyectoMvcVinilacion.Models.Usuario

@{
    ViewData["Title"] = "Perfil";
    var userRolClaim = User.FindFirst("rol");
    var userRol = userRolClaim?.Value;

    var userNameClaim = User.FindFirst("name");
    var userName = userNameClaim?.Value;
}

<style>
    <style >
    .center-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        
    }


    .cont {
        margin: 50px auto;
        background-color: #ffffff; /* Fondo blanco para el contenedor principal */
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
        padding: 20px 40px; /* Ajusta el padding para menos altura y más anchura */
        width: 100%; /* Asegura que use el máximo espacio disponible */
        max-width: 700px; /* Ensancha el contenedor */
        box-sizing: border-box; /* Asegura que el padding no afecte el ancho final */
    }

    h1, h2 {
        color: #ffcc4e;
        text-align: center;
        margin-top: 20px; /* Espaciado superior para el título */
        margin-bottom: 20px; /* Reduce o elimina el margen inferior del título para menos altura */
    }

    .user-info {
        background-color: #f8f9fa;
        border-left: 4px solid #ffcc4e;
        color: black;
        padding: 15px; /* Ajusta según sea necesario para el contenido */
        margin-bottom: 15px; /* Controla el espaciado entre los bloques de información */
    }

        .user-info label {
            display: block; /* Hace que el label tome su propia línea */
            margin: 0;
            font-weight: bold;
        }

        .user-info p {
            margin: 5px 0;
        }

    .options a {
        display: block; /* Hace que los enlaces se muestren en bloques individuales para mejor accesibilidad */
        text-decoration: none;
        background-color: #f2b4bf;
        color: white;
        padding: 10px 15px;
        border-radius: 5px;
        transition: background-color 0.2s ease-in-out;
        margin-top: 10px;
        text-align: center;
    }

        .options a:hover {
            background-color: #d895a3;
        }
</style>

</style>

<div class="center-wrapper">
    <div class="cont">
        <h1>@(userRol == "1" ? "Bienvenido Administrador" : "Bienvenido " + userName)</h1>
        
        <div class="user-info">
            <label>Email:</label>
            <p>@Model.Email</p>
        </div>
        <div class="user-info">
            <label>Nombre:</label>
            <p>@Model.Nombre</p>
        </div>
        <div class="user-info">
            <label>Apellidos:</label>
            <p>@Model.Apellidos</p>
        </div>

        <div class="options">
            <a asp-controller="Account" asp-action="Update" asp-route-id="@Model.IdUsuario">Editar datos personales</a>

            @if (userRol == "1")
            {
                <a asp-controller="Account" asp-action="Sugerencias" asp-route-id="@Model.IdUsuario">Sugerencias de la página</a>
                <a asp-controller="Comentarios" asp-action="List">Comentarios de la página</a>
                <a asp-controller="Productos" asp-action="VistaPedidos" asp-route-id="0">Todos los Pedidos</a>
            }else{
            <a asp-controller="Productos" asp-action="VistaPedidos" asp-route-id="@Model.IdUsuario">Mis Pedidos</a>

            }
        </div>
    </div>
</div>
