@model IEnumerable<MvcProyectoVinilos.Models.Sugerencia>

@{
    ViewData["Title"] = "Sugerencias";
    var userRolClaim = User.FindFirst("id");
    var userId = userRolClaim?.Value;
}

<style>
    .cont{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .table-container {
        width: 70%;
        padding: 20px;
        background-color: #f8f9fa;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        text-align: center;
        margin-bottom: 20px;
        color: black;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        border: 1px solid #dee2e6;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #007bff;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }
</style>

<div class="cont">
    <div class="table-container">
        <h1>Sugerencias</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.IdSugerencia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SugerenciaTexto)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.IdSugerencia)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SugerenciaTexto)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a asp-action="Perfil" asp-controller="Account" asp-route-id="@userId">Volver</a>
</div>
